.div-scroll-1 {
    border: 1px solid #000000;
    display: inline-block;
    border-radius: 30px;
    background-color: whitesmoke;
}


.global-center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.global-footer {
    text-align: center;
}

img {
    border-radius: 30px;
    width: 112px
    
}

input {
    background-color: grey;
    color: white;
}

button {
    background-color: whitesmoke;
}

.clear-btn {
    border: 2px solid #000000;
    background-color: black;
    color: white;
}

body {
    background-color: cyan;  
}

h2 {
    color: magenta;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 0px;
    margin-right: 10px;
}

.nav-1 {
    margin-top: 10px
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

  div {
    text-align: center;
  }



   @media only screen and (max-width: 430px) {

    img { 
   
     width: 81px; 
   
    }
   
   }


   @media only screen and (max-width: 430px) {

    .flex-container { 
   
        display: flex;
        flex-direction: column;
   
    }
   
   }