.div-scroll-1 {
    border: 1px solid #000000;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.global-center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.global-footer {
    text-align: center;
}

.image-round {
    border-radius: 30px;
}